 html,body {
    height: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'RobotoDraft', sans-serif;
  }
  core-header-panel {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch; 
  }

  core-toolbar {
    background: #42bd41;
    color: white;
  }

  .container {
    width: 80%;
    margin: 50px auto;
  }
  @media (min-width: 481px) {
    #tabs {
      width: 200px;
    }
    .container {
      width: 400px;
    }
  }

#tabs {
  width: 100%;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card, .dialog {
      position: relative;
      display: inline-block;
      width:250px;
      height:150px;
      background-color: #fff;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
      color: #f00;
      text-align: center;
      padding-top: 100px;
      
          
    }
.card span{
  
  
    
}

.card.image {
      background: url(http://lorempixel.com/300/240/nature/);  
      color: #fff; 

}

#container{
    width: 510px;
    height: 530px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    text-align: center;
   
}

#simpleDemo{
 float:left;   
}

#mapDemo{
    float:right;
}

#demo3{
 float: left;
 margin-top: 19px;
}
#demo4{
    float: right;
     margin-top: 19px;
}